
  <div class="container-fluid  input-group  px-3 mx-auto my-2">
    <input type="search" id="search-bar" class="form-control rounded  fs-3 " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" id="search-btn" class="btn btn-outline-primary fs-3">search</button>
  </div>


{{!-- demo card template  --}}
{{!-- todo add js to dynamically generate per card --}}
  <div class="container-fluid  p-4 mx-auto">
    <div class="row mx-3">

      <div class="col-2 my-4">
           <img src="https://cards.scryfall.io/png/front/e/0/e08ed414-77bf-402a-82a8-9d4e1bd627a1.png?1682204635" alt="Atraxa" class="img-fluid" >
      </div>
  
    </div> 
    
  </div>

<script src="./js/landingPage.js"></script>