  <div class="container-fluid  input-group  px-3 mx-auto my-2">
    <input type="search" id="search-bar" class="form-control rounded  fs-3 " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" id="search-btn" class="btn btn-outline-primary fs-3">search</button>
  </div>

  <div class="container-fluid p-4 mx-auto" >
    <div class="row mx-3" id="card-container">
      
      
      
    </div> 
    
  </div>



<script src="./js/landingPage.js"></script>