  <div class="container">
    <div class="input-group flex-nowrap mx-auto my-3 " id="search-bar-container">
      <input type="search" id="search-bar" class="form-control rounded  fs-3 " placeholder="Search for a card" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" id="search-btn" class="btn btn-outline-primary fs-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
        </svg></button>
    </div>
  </div>

  <div class="container-fluid p-4 mx-auto" >
    <div class="row mx-3" id="card-container">
      
      
      
    </div> 
    
  </div>

  


<script src="./js/landingPage.js"></script>