<div class="container p-4 ">
  <div class="container input-group position-absolute top-50 start-50 translate-middle px-5 mx-auto">
        <input type="search" class="form-control rounded  fs-3 " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary fs-3">search</button>
  </div>

</div>