<div class="row justify-space-between-md mt-5">
  <div
    class="login-card mx-auto my-auto col-2 d-flex justify-content-center flex-column align-items-center border rounded">
    <h2 class="page-title mt-2">Login</h2>
    <form class="form login-form d-flex justify-content-center flex-column col-8">
      <div class="form-group d-flex justify-content-center align-items-center flex-column">
        <label class="mt-2 w-75" for="email-login">Email:</label>
        <input class="form-input mt-2 col-10" type="text" id="email-login" />
      </div>
      <div class="form-group d-flex justify-content-center flex-column align-items-center">
        <label class="mt-2 w-75" for="password-login">Password:</label>
        <input class="form-input mt-2 col-10" type="password" id="password-login" />
      </div>
      <p class="mt-2 w-75 mx-auto"><small class=" text-muted ">Don't have an account? sign up </small><span><small><a
              href="/signup">here.</a></small></span> </p>
      <div class="form-group mx-auto">
        <button class="btn btn-primary mt-3 mb-3" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>