<div
    class="signup-card mx-auto my-auto mt-5 col-2 d-flex justify-content-center flex-column align-items-center border rounded">
    <h2 class="page-title mt-2">Signup</h2>
    <form class="form signup-form">
        <div class="form-group d-flex justify-content-center align-items-center flex-column">
            <label class="mt-2 w-75" for="username-signup">Username:</label>
            <input class="form-input mt-2 col-10" type="text" id="username-signup" />
        </div>
        <div class="form-group d-flex justify-content-center align-items-center flex-column">
            <label class="mt-2 w-75" for="email-signup">Email:</label>
            <input class="form-input mt-2 col-10" type="text" id="email-signup" />
        </div>
        <div class="form-group d-flex justify-content-center align-items-center flex-column">
            <label class="mt-2 w-75" for="password-signup">Password:</label>
            <input class="form-input mt-2 col-10" type="password" id="password-signup" />
        </div>
        <p class="mt-2 w-75 mx-auto"><small class=" text-muted ">Already have an account? sign in
            </small><span><small><a href="/login">here.</a></small></span> </p>
        <div class="form-group d-flex justify-content-center align-items-center flex-column">
            <button class="btn btn-primary mt-3 mb-3" type="submit">signup</button>
        </div>
    </form>
</div>

<script src="./js/signUp.js"></script>