// Required
@import "../../node_modules/bootstrap/scss/functions";

// Custom colors
$gunmetal: #222831ff;
$tekhelet: #612491ff;
$veronica: #a020f0ff;
$blue-violet: #7846cdff;
$emerald: #00b862ff;
$atomic-tangerine: rgb(232, 122, 54);
$taupe-gray: #898d98ff;
$bleu-de-france: #1288e2ff;
$logo-gradient: linear-gradient(to right, #fa702a, #faa739);

$primary: $veronica;
$secondary: $blue-violet;
$success: $emerald;
$info: $bleu-de-france;
$warning: $atomic-tangerine;
$danger: $tekhelet;
$light: $taupe-gray;
$dark: $gunmetal;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";



// Import Bootstrap variables 
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";




// Import bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Define your custom class and styles


// Override Bootstrap's hover styles for links with !important declaration


.custom-font {
    font-family: 'Pirata One', sans-serif;
    color: $warning;
    font-size: 88pt;
    text-decoration: underline;
    -webkit-text-stroke: $dark 2px;        
}

nav .btn {
    text-decoration: none;
    text-align: start;
    color: $white;
    font-size: x-large;
    
}

.btn:hover {
    text-decoration: none;
    
    
}


.container-fluid{
    max-width: 1800px;
    
    justify-content: center;
}

.custom-container{
    padding: 0px 10px;
    
  }

.card-container {
    flex-shrink: 0;
}

.card-img{
    // max-width: 262px;
    // min-width: 200px;
    margin: 5px;
   
}

.add-to-collection-btn {
    align-self: center;
}


@media (max-width: 768px) {
    .custom-font {
        font-size: 62pt; 
    }
}

@media (max-width: 1156px) {
    nav {
        flex-direction: column !important;
        align-items: center;
      }
    .custom-container {
      flex-direction: column !important;
      align-items: center;
    }
    
}